fastapi==0.111.0
fastapi-cli==0.0.4
httpx==0.27.0
pytest==8.2.2
langchain
langchain_openai
langchain_community
langchain-huggingface
chromadb
pypdf
sentence-transformers
pydantic 
docx2txt
onnxruntime==1.18.0 
onnx==1.16.0
unstructured[all-docs]
pandas
psutil
openpyxl
pymupdf
python-docx
pypdf2
reportlab
pdfplumber
langchain-core
langchain-openai
openai
pillow_heif
matplotlib
pytesseract
werkzeug
aiofiles
azure-storage-blob
pinecone-client
openpyxl
rapidocr-onnxruntime
python-docx
azure-search-documents
boto3
python-socketio